* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #192232;
  color: white;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.header {
  min-height: 20vh;
  width: 100%;
  background-color: #25354c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 390px) {
  .header {
    min-height: 30vh;
  }
}

.header .logo {
  font-size: 3rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 570px) {
  .header .logo {
    font-size: 2rem;
  }
}

.header .logo a {
  color: #fff;
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
}

.search-form {
  width: 30%;
}

@media screen and (max-width: 1300px) {
  .search-form {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  .search-form {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .search-form {
    width: 60%;
  }
}

@media screen and (max-width: 630px) {
  .search-form {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .search-form {
    width: 80%;
  }
}

.input-control {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.input-control input {
  width: 80%;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #192232;
  color: white;
}

@media screen and (max-width: 480px) {
  .input-control input {
    width: 80%;
    font-size: 1rem;
  }
}

.input-control input:focus,
.input-control input :active {
  width: 100%;
}

.input-control button {
  position: absolute;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  margin-left: -3rem;
  background-color: #192232;
  padding: 0 1rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.input-control button img {
  height: 20px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 1.2rem;
  padding: 0 6rem;
}

@media screen and (max-width: 611px) {
  main {
    -ms-grid-columns: (minmax(176px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 0.6rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 580px) {
  main {
    -ms-grid-columns: (minmax(175px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 0.6rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 423px) {
  main {
    -ms-grid-columns: (minmax(158px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 0.6rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 390px) {
  main {
    -ms-grid-columns: (minmax(91px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(91px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 1.2rem;
    padding: 0 20px;
  }
}

main .gallery {
  background-color: #25354c;
  height: 100%;
}

main .gallery .image-holder {
  height: 100%;
}

main .gallery .image-holder:hover .profile {
  visibility: visible;
  -webkit-filter: drop-shadow(3px 3px 2px black);
          filter: drop-shadow(3px 3px 2px black);
  text-shadow: 1px 1px 10px black;
}

main .gallery img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
}

main .gallery .profile {
  background-color: transparent;
  margin-top: -0.5rem;
  padding: 1.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 69px;
}

@media (pointer: coarse) {
  main .gallery .profile {
    visibility: visible;
    -webkit-filter: drop-shadow(3px 3px 2px black);
            filter: drop-shadow(3px 3px 2px black);
    text-shadow: 1px 1px 10px black;
  }
}

main .gallery .profile a {
  position: relative;
  font-size: 0.9rem;
}

main .gallery .profile a:nth-child(1) {
  color: #fff;
}

.noInternet {
  display: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

@media screen and (max-width: 390px) {
  .noInternet {
    padding: 0 20px;
  }
}

.noInternetMessage {
  font-size: 2rem;
}

@media screen and (max-width: 390px) {
  .noInternetMessage {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */